<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Video Transcoder With AWS MediaConvert</title>
    </head>
    <body>
        <h1>Video Transcoder With AWS MediaConvert</h1>
        <p>Upload a new video to transcode to a 480x360 MP4 file.</p>
        <form method="post" enctype="multipart/form-data" action="/uploadToAWS">
        <input type="file" name="videoFile"/>
        <input type="submit" value="Submit"/>
        </form>
        <hr>

        {{{body}}}


    </body>
</html>

